.buttonL{
    width:450px;
    height: 40px;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    border-radius: 25px;
}
.inputTextL{
    width:428px;
    height: 35px;
    text-align: left;
    font-size: 15px;
    color:#000;
    border-radius: 25px; 
    border: 1px solid #b1b1b3;
    outline: none;
    padding-left:15px;
    font-weight: bold;
}  
